<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="opentok-hangout">
    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Opentok Hangout</title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="https://swww.tokbox.com/webrtc/v2.2/js/TB.js" type="text/javascript" charset="utf-8"></script>
        
        <script src="//code.jquery.com/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body ng-controller="RoomCtrl">
        
        <ot-session apiKey="<%=apiKey%>" 
            sessionId="<%=sessionId%>" 
            token="<%=token%>" 
            publisher="publisher" 
            streams="streams" 
            session="session">
            
            <ot-layout props="{animate:true,bigFixedRatio:true}">
                <ot-subscriber ng-repeat="stream in streams | filter:notMine" 
                    stream="stream" 
                    session="session" 
                    props="{style: {nameDisplayMode: 'off'}}" 
                    ng-class="{OT_big: (stream.oth_large == undefined && stream.name == 'screen') || stream.oth_large}" 
                    ng-dblclick="$emit('changeSize')">
                        <input type="button" class="resize-btn" ng-click="$emit('changeSize');"/>
                </ot-subscriber>
                <ot-publisher ng-if="sharingMyScreen"
                    publisher="screenPublisher"
                    session="session"
                    props='screenPublisherProps'
                    ng-class="{OT_big: screenBig}" 
                    ng-dblclick="$emit('changeScreenSize');">
                    <input type="button" class="resize-btn" ng-click="$emit('changeScreenSize');"/>
                </ot-publisher>
            </ot-layout>
            
            <ot-publisher id="facePublisher" 
                ng-if="publishing"
                apiKey="<%=apiKey%>" 
                publisher="publisher"
                draggable="true"
                session="session"
                props="facePublisherProps">
            </ot-publisher>
            
        </ot-session>
        
        <div id="shareInfo" 
            class="streams-{{(streams | filter:notMine).length > 0}}" 
            ng-cloak>
            <p>Waiting for someone to join: <a href="{{shareURL}}">{{shareURL}}</a></p>
        </div>
        <div id="bottomBar">
            <input type="button" name="screenshare" value="Share Screen" id="showscreen" ng-click="shareScreen()" class="screen-btn" ng-if="!sharingMyScreen" />
            <input type="button" name="screenshare" value="Hide Screen" id="hidescreen" ng-click="hideScreen()" class="screen-btn" ng-if="sharingMyScreen" />
            
            <input type="button" name="archive" value="Start Archive" id="startArchiveBtn"
                ng-if="!archiving"
                ng-click="startArchiving()">
            <input type="button" name="archive" value="Stop Archive" id="stopArchiveBtn"
                ng-if="archiving"
                ng-click="stopArchiving()">

            <span id="publishUI">
                <input type="button" name="publish" value="Publish" id="publishBtn" ng-click="publish()" class="publish-btn" ng-if="!publishing" />
                <span id="publishHDCheck">
                    <label for="publishHD" ng-if="!publishing">HD</label>
                    <input type="checkbox" name="publishHD" ng-model="publishHD" id="publishHD" ng-if="!publishing" ng-change="publishHDChange()">
                </span>
            </span>                
            <input type="button" name="unpublish" value="Unpublish" id="unpublishBtn" ng-click="unpublish()" class="unpublish-btn" ng-if="publishing" />
        </div>
        <div id="archiveStatus" ng-if="archiveId">
            Archiving: When archive is ready it will be available <a href="/archive/{{archiveId}}">here</a>
        </div>
        <script src="/js/lib/opentok-layout-js/opentok-layout.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/opentok-angular/opentok-angular.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/controllers.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            opentokHangout.value('room', '<%=room%>');
        </script>
    </body>
</html>