<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="opentok-meet">
    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>OpenTok Meet</title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="/js/lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body ng-controller="RoomCtrl">
        <div id='session' ng-class="{'session-connected': connected}">
            <ot-layout props="{animate:true,bigFixedRatio:true}">
                <ot-subscriber ng-repeat="stream in streams | filter:notMine" 
                    stream="stream" 
                    session="session" 
                    props="{style: {nameDisplayMode: 'off'}}" 
                    ng-class="{OT_big: (stream.oth_large == undefined && stream.name == 'screen') || stream.oth_large}" 
                    ng-dblclick="$emit('changeSize')">
                        <input type="button" class="resize-btn" ng-click="$emit('changeSize');"/>
                </ot-subscriber>
                <ot-publisher ng-if="sharingMyScreen"
                    props='screenPublisherProps'
                    ng-class="{OT_big: screenBig}" 
                    ng-dblclick="$emit('changeScreenSize');">
                    <input type="button" class="resize-btn" ng-click="$emit('changeScreenSize');"/>
                </ot-publisher>
            </ot-layout>
            
            <ot-publisher id="facePublisher" 
                ng-if="publishing"
                apiKey="<%=apiKey%>"
                draggable="true"
                props="facePublisherProps">
            </ot-publisher>
        </div>
        <div id="shareInfo" 
            class="streams-{{(streams | filter:notMine).length > 0}}" 
            ng-cloak>
            <p>Waiting for someone to join: <a href="{{shareURL}}">{{shareURL}}</a></p>
        </div>
        <div id="bottomBar">
            <input type="button" name="screenshare" value="Share Screen" id="showscreen" ng-click="shareScreen()" class="screen-btn" ng-if="!sharingMyScreen" />
            <input type="button" name="screenshare" value="Hide Screen" id="hidescreen" ng-click="hideScreen()" class="screen-btn" ng-if="sharingMyScreen" />
            
            <input type="button" name="archive" value="Start Archive" id="startArchiveBtn"
                ng-if="!archiving"
                ng-click="startArchiving()">
            <input type="button" name="archive" value="Stop Archive" id="stopArchiveBtn"
                ng-if="archiving"
                ng-click="stopArchiving()">

            <span id="publishUI">
                <input type="button" name="publish" value="Publish" id="publishBtn" ng-click="publish()" class="publish-btn" ng-if="!publishing" />
                <span id="publishHDCheck">
                    <label for="publishHD" ng-if="!publishing">HD</label>
                    <input type="checkbox" name="publishHD" ng-model="publishHD" id="publishHD" ng-if="!publishing" ng-change="publishHDChange()">
                </span>
            </span>                
            <input type="button" name="unpublish" value="Unpublish" id="unpublishBtn" ng-click="unpublish()" class="unpublish-btn" ng-if="publishing" />
            <div id="footer">
                <a href="https://github.com/aullman/opentok-meet" target="_blank">View Source</a>|
                <a href="https://github.com/aullman/opentok-meet/issues/new" target="_blank">Report Issue</a>
            </div>
        </div>
        <div id="archiveStatus" ng-if="archiveId">
            Archiving: When archive is ready it will be available <a href="/archive/{{archiveId}}" target="_blank">here</a>
        </div>
        <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/opentok-layout-js/opentok-layout.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/opentok-angular/opentok-angular.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/controllers.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            opentokMeet.value('room', '<%=room%>');
            
            OpenTokAngular.value({
                apiKey: '<%=apiKey%>',
                sessionId: '<%=sessionId%>',
                token: '<%=token%>'
            });
        </script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-49010461-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>